.hero {
  margin-bottom: 70px;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}

.left-hero {
  margin-right: 50px;
}

.left-hero > .circle {
  max-width: 378px;
  width: 181px;
  height: 181px;
  background-color: var(--secondary);
  border-radius: 100px;
  position: relative;
}

.left-hero .type {
  width: 250px;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
}

.right-hero img {
  width: 100%;
}

.pattern {
  position: relative;
}

.pattern p {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  font-weight: 700;
  background-color: white;
  padding: 15px;
  border: 4px solid black;
  border-radius: 30px;
  cursor: pointer;
}

.pattern img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .right-hero img {
    display: none;
  }
  .pattern p {
    font-size: 12px;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    margin-top: 230px;
  }
  .left-hero p {
    width: 190px;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 50px;
  } 
  .left-hero > .circle {
    width: 150px;
    height: 150px;
  } 
  
  .pattern img {
    height: 90px;
  }
  .pattern p {
    font-size: 2vw;
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
  }

  .logo-text {
    display: contents !important;
  }
 
}


@media screen and (max-width:768px) {
   .left-hero > .hero2 {
    width: 300px;
    height: 150px;
    margin-left: 40px;
    /* margin-left: 80px;
    margin-bottom: 70px; */
  }
}


@media screen and (max-width:300px) {
 .logo-text >  .circle p {
    font-size: 20px !important;
    margin-left: 30px !important;
  }
  .left-hero > .hero2 {
    width: 200px;
    height: 100px;
  }
}